{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<div class='container my-5'>
		<div class="row">
			<div class="col-md-6">
				<img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="img-fluid"alt="{{ product.name }}">
			</div>

			<div class="col-md-6">	
            <small><i><a href="{{ path('app_category', { slug : product.category.slug }) }}"></a > {{ product.category.name }} > {{ product.name }}</i></small>
                <h1>{{ product.name}}</h1>
                <span class="d-block md-3">{{ product.price }}</span>
				{{ product.description|raw }}
			<button class ="btn btn-success w-100 mt-3">Ajouter au panier</button>
			</div>

	</div>
	{% endblock %}
